<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FoxproMigration.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FoxproMigration.UI.Properties.Settings>
            <setting name="DbfFilesLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlDatabaseServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="SqlDatabaseName" serializeAs="String">
                <value>BayanXMLDB</value>
            </setting>
            <setting name="SqlDatabasePort" serializeAs="String">
                <value>1433</value>
            </setting>
            <setting name="SqlDatabaseUsername" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="SqlDatabasePassword" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="DatabaseType" serializeAs="String">
                <value>SQL</value>
            </setting>
        </FoxproMigration.UI.Properties.Settings>
    </userSettings>
</configuration>